.about-me-container {
  flex: 2; /* AboutMe section takes up more space */
  text-align: left;
  padding: 20px;
}

.about-me-heading {
  font-size: 40px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.about-me-description {
  font-size: 20px;
  color: #161616;
  margin-bottom: 30px;
  text-align: justify;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 10px; /* Adds space between buttons */
  transition: background-color 0.3s ease;
}

.Portfolio-btn {
  background-color: #008CBA; /* Blue */
  color: white;
}

.Portfolio-btn:hover {
  background-color: #4CAF50; /* Green */
}

.Resume-btn {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  text-decoration: none; /* Remove underline */
  border-radius: 5px;
  cursor: pointer;
}

.Resume-btn:hover {
  background-color: #4CAF50;
}

@media screen and (max-width: 768px) {
  .about-me-heading {
    font-size: 28px;
  }

  .about-me-description {
    font-size: 16px;
  }
}
